.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    text-align: left;
    padding-left: 3px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: solid 1px #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
}

.Invalid {
    border: solid 1px red;
    background-color: #fa8072;
}

.ErrorMessage {
    font-size: 0.8em;
    text-align: left;
    margin: 0;
    padding-left: 3px;
    color: red;
}